# IDE config files
.idea
.idea/*
.vscode/*
*.iml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# tmp
*.swo

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# DB files
.DS_Store

tmp/*
log/*
